.worklist {
   &__cards {
      gap: 20px;
      display: grid;
      grid-template-columns: auto auto auto;
      margin-top: 160px;

      .card {
         max-width: 350px;

         &__title--text {
            font-size: 24px;
            margin: 0;
            line-height: 28px;
            padding: 40px 0 27px 0;
            letter-spacing: -1.07px;
         }

         &__desc--text {
            color: #939caa;
            font-size: 15px;
            line-height: 25px;
         }
      }
   }
}

@media screen and (max-width: 810px) {
   .worklist {
      &__cards {
         display: grid;
         grid-template-columns: auto !important;

         .card {
            max-width: 720px !important;
            display: flex;
            margin-top: 50px;
            align-items: center;

            img {
               width: 96px;
               margin-right: 79px;
            }

            &__title--text {
               margin: 0;
               padding: 0;
               margin-bottom: 20px;
            }
         }
      }
   }
}

@media screen and (max-width: 530px) {
   .worklist {
      .card {
         img {
            margin-right: 30px;
         }

         &__title--text {
            font-size: 20px;
         }

         &__desc--text {
            font-size: 15px;

         }
      }
   }
}

@media screen and (max-width: 430px) {
   .worklist {

      &__cards {
         .card {
            text-align: center;
            display: block;
         }

         .card__title--text {
            padding: 20px 0;
         }
      }
   }
}